{{ include(template_from_string(headerXML)) }}
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Api\{{ entityName|pascal }}RepositoryInterface" type="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Model\{{ entityName|pascal }}Repository"/>
    <preference for="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Api\Data\{{ entityName|pascal }}Interface" type="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Model\{{ entityName|pascal }}"/>
    <preference for="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Api\Data\{{ entityName|pascal }}SearchResultInterface" type="{{ vendorName|pascal }}\{{ moduleName|pascal }}\Model\{{ entityName|pascal }}SearchResult"/>
</config>
