<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © ${commentsYear} ${CommentsCompanyName}. All rights reserved.
 * @author    ${commentsUserEmail}
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="${Vendorname}\${Modulename}\Api\${Entityname}RepositoryInterface" type="${Vendorname}\${Modulename}\Model\${Entityname}Repository"/>
    <preference for="${Vendorname}\${Modulename}\Api\Data\${Entityname}Interface" type="${Vendorname}\${Modulename}\Model\${Entityname}"/>
    <preference for="${Vendorname}\${Modulename}\Api\Data\${Entityname}SearchResultInterface" type="${Vendorname}\${Modulename}\Model\${Entityname}SearchResult"/>
</config>