<?xml version="1.0"?>
<!--
/**
 * system
 *
 * @copyright Copyright © {{ commentsYear }} {{ commentsCompanyName }}. All rights reserved.
 * @author    {{ commentsUserEmail }}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="{{ sectionId }}">
            <group id="{{ groupId }}">
                <field id="{{ fieldId }}" translate="label{% if fieldComment %} comment{% endif %}" type="{{ fieldType }}" sortOrder="{{ fieldSortOrder }}" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>{{ fieldLabel }}</label>
{% if fieldComment %}
                    <comment>{{ fieldComment }}</comment>
{% endif %}
{% if fieldSourceModel %}
                    <source_model>{{ fieldSourceModel }}</source_model>
{% endif %}
{% if fieldValidate %}
                    <validate>{{ fieldValidate }}</validate>
{% endif %}
{% if fieldDependencyPath %}
                    <depends>
                        <field id="{{ fieldDependencyPath }}">{{ fieldDependencyValue }}</field>
                    </depends>
{% endif %}
                </field>
            </group>
        </section>
    </system>
</config>