<?xml version="1.0"?>
<!--
/**
 * routes
 * @copyright Copyright © {{ commentsYear }} {{ commentsCompanyName }}. All rights reserved.
 * @author    {{ commentsUserEmail }}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="{{ vendorName|snake }}_{{ moduleName|snake }}" frontName="{{ vendorName|snake }}_{{ moduleName|snake }}">
            <module name="{{ vendorName|pascal }}_{{ moduleName|pascal }}" />
        </route>
    </router>
</config>
