{{ include(template_from_string(headerXML)) }}
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="{{ commandName|snake }}" xsi:type="object">{{ vendorName|pascal }}\{{ moduleName|pascal }}\Console\Command\{{ commandFilePath|split('/')|join('\\') }}Command</item>
            </argument>
        </arguments>
    </type>
</config>
