{{ include(template_from_string(headerXML)) }}
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <{{ configSection|snake }}>
            <{{ configGroup|snake }}>
                <{{ name|snake }}_template>{{ configSection|snake }}_{{ configGroup|snake }}_{{ name|snake }}_template</{{ name|snake }}_template>
                <{{ name|snake }}_identity>general</{{ name|snake }}_identity>
            </{{ configGroup|snake }}>
        </{{ configSection|snake }}>
    </default>
</config>
